<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reservation List</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<link type="text/css" rel="stylesheet" href="/css/ajax-example.css" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>Olympia Sport Club Manager</h2>
		</div>
	</div>

	<div id="container">

		<div id="content">

			<button id="loadReservations" class="add-button">Show
				Reservations</button>

			<table id="reservationTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Start</th>
						<th>End</th>
						<th>Client</th>
						<th>Court</th>
						<th>Cost</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript" src="/js/ajax-example.js"></script>
</body>
</html>